<style>
    @font-face {
        font-family: hello-honey;
        src: url('assets/fonts/hello_honey/hello-honey.otf') format("opentype");
    }

    @font-face {
        font-family: angelina;
        src: url('assets/fonts/angelina/angelina.ttf') format("opentype");
    }

    .hello-honey {
        font-family: hello-honey;
        font-size: 4em;
        line-height: 1em;
        font-weight: 400;
        text-align: center;
    }

    .angelina {
        font-family: angelina;
        font-size: 2em;
        font-weight: 400;
        line-height: 1em;
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div #scrolling class="row full-height" style="flex: 1; overflow: auto; scroll-behavior: smooth;">
        <div #main class="col-sm-12 col-md-6 full-height d-flex align-items-start" style="padding-top: 6em;">
            <div class="d-flex flex-column" style="flex: 1; height: 100%;">
                <div class="d-flex flex-column justify-content-center align-items-center"
                    style="position: relative; flex: 1; margin-left: -1em; margin-right: -1em; height: 24em;">
                    <span class="angelina" style="margin-bottom: 2em;" (click)="scrollTo('msg')">Solemnization of</span>
                    <span class="hello-honey">'Afif Ashroff</span>
                    <span class="hello-honey">&</span>
                    <span class="hello-honey">La Ai Ba Ratna</span>
                    <span class="angelina" style="margin-top: 2em;">27th January 2021</span>
                    <span class="angelina">14 Jamadil Akhir 1442H</span>
                    <span class="angelina">2:00PM</span>
                    <img src="assets/wedding/blotch.png" style="width: 80%; position: absolute; z-index: -1;">
                    <img class="rotate-tr-up" src="assets/wedding/leaves-right.png"
                        style="width: 50%; position: absolute; z-index: -1; right: 0; top: 30px;">
                    <img class="rotate-bl-up" src="assets/wedding/leaves-left.png"
                        style="width: 50%; position: absolute; z-index: -1; left: 0; bottom: 60px;">
                </div>
                <div class="d-flex justify-content-end align-items-center flex-column" style="flex: 1;">
                    <div class="hide-wide d-flex flex-column align-items-center pb-4">
                        <span class="angelina">Scroll down to the Guest Book</span>
                        <!-- <span style="font-size: 2em;"></span> -->
                        <span style="font-size: 2em; font-weight: bold;">v</span>
                    </div>
                </div>
            </div>
        </div>
        <div #msg style="padding: 1em;"
            class="col-sm-12 col-md-6 full-height d-flex flex-column justify-content-center align-items-center">
            <div class="hello-honey">~ Guest Book ~</div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<style>
    .rotate-tr-up {
        -webkit-animation: rotate-tr-up 7s ease-in-out infinite both;
        animation: rotate-tr-up 7s ease-in-out infinite both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2021-1-26 7:26:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    /**
 * ----------------------------------------
 * animation rotate-tr-up
 * ----------------------------------------
 */
    @-webkit-keyframes rotate-tr-up {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }

        50% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }

        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }
    }

    @keyframes rotate-tr-up {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }

        50% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }

        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }
    }

    .rotate-bl-up {
        -webkit-animation: rotate-bl-up 7s ease-in-out infinite both;
        animation: rotate-bl-up 7s ease-in-out infinite both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2021-1-26 7:26:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    /**
 * ----------------------------------------
 * animation rotate-bl-up
 * ----------------------------------------
 */
    @-webkit-keyframes rotate-bl-up {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }

        50% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }

        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }
    }

    @keyframes rotate-bl-up {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }

        50% {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }

        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
        }
    }
</style>